<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/greetings.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Eagle+Lake">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8">
    <title>Backend Greetings Webapp</title>
  </head>
  <body>

    {{{body}}}

  </body>

</html>
