<div id="countOutput">
  <h3>{{times}}</h3>
  <!-- <form id="resetButtonForm" action="/counter/reset_counter" method="post">
    <input id="resetButton" type="submit" name="resetButton" value="Reset">
  </form> -->
</div>

<a href="/">Home</a>
