<div id="nameOutput">
  {{#if greeting}}
  <h3>{{greeting}}</h3>
  {{/if}}
</div>

<div id="countOutput">
  <h3>{{times}}<h3>
</div>

<div class="error">
  {{#if messages.error}}
  {{messages.error}}
  {{/if}}
</div>
