<style type="text/css">

body {
  background: #DDA0DD;
  font-family: 'Eagle Lake', cursive;
}

h1 {
  /*background-image: url("http://4.bp.blogspot.com/-xc1JtQ3fHv8/VLQUNKGdkCI/AAAAAAAAAAo/h52sbqPCoxc/s1600/header.png");*/
  /*background-image: url("https://www.askideas.com/media/65/Hello-Day-Wishes-Header-Image.jpg");*/
  font-family: 'Eagle Lake', cursive;
  font-size: 75px;
  background: -webkit-linear-gradient(pink, #DDA0DD, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*background-color: #DDA0DD;*/
  text-align: center;
}

h2 {
  font-size: 35px;
  font-family: 'Eagle Lake', cursive;
}

h3 {
  font-size: 20px;
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  margin-top: 2em;
}

a {
  font-size: 20px;
  font-family: 'Eagle Lake', cursive;
  position: fixed;
}

#nameOutput {
  font-size: 20px;
  font-family: 'Eagle Lake', cursive;
  text-align: center;
}

#countOutput {
  font-size: 15px;
  font-family: 'Eagle Lake', cursive;
  text-align: right;
}


#fillForm {
  text-align: center;
  /*margin-top: 6em;*/
}

#usersName {
  width: 25%;
  margin-left: 36em;
  padding: 10px 20px;
  border-radius: 3px;
  display: block;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}

.error {
  font-size: 20px;
  font-family: 'Eagle Lake', cursive;
  text-align: center;
}

button {
  background-color: #DDA0DD;
  font-size: 20px;
  font-family: 'Eagle Lake', cursive;
}

button:hover {
  background-color: #8A2BE2;
}

#radioButtons {
  font-family: 'Eagle Lake', cursive;
  font-size: 15px;
  text-align: center;
  padding-top: 3em;
}


</style>
