body {
  background-color: #20B2AA;
  font-family: 'Eagle Lake', cursive;
}

h1 {
  font-family: 'Eagle Lake', cursive;
  font-size: 60px;
  background-color: white;
  margin-top: 0;
  text-align: center;
}
